[submodule "sources_non_forked/carbonized"]
	url = https://github.com/nightsense/carbonized
[submodule "sources_non_forked/nerdtree-git-plugin"]
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "sources_non_forked/vim-airline-themes"]
	url = https://github.com/vim-airline/vim-airline
[submodule "sources_non_forked/vim-gitgutter"]
	url = https://github.com/airblade/vim-gitgutter
[submodule "sources_non_forked/vim-indent-guides"]
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "sources_non_forked/vim-minimap"]
	url = https://github.com/severin-lemaignan/vim-minimap
